{% extends "registration/layout.html" %}

{% block page-content %}

<form method="POST">
	{% csrf_token %}
		{% if form.errors %}
		{% for field, errors in form.errors.items %}
			{% for error in errors %}
				<div class="alert alert-danger container-sm">
					{{ error }}
				</div>
			{% endfor %}
		{% endfor %}
		{% endif %}
		<div class="mb-1">
			<label for="id_username" class="form-label">{{ form.username.label }}</label>
			<input id="id_username" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" class="form-control">
		</div>
		<div class="mb-1">
			<label for="id_password" class="form-label">{{ form.password.label }}</label>
			<input id="id_password" type="password" name="password" autocomplete="current-password" required="" class="form-control">
		</div>
		<div>
			<input type="submit" class="btn btn-primary" value="Login">
		</div>
		<a href="{% url 'todo_app:register_user' %}">Create new user</a>
</form>

{% endblock %}
