/* TODO - CSS */

body {
	background-color: #DDE6ED;
	color: #27374D;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 0px;
	font-family: sans-serif;
}

.grid-container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 150px auto;
	min-height: 100vh;
}

#app_title_navbar {
	color: #DDE6ED;
	margin-top: 9px;
	margin-bottom: 5px;
	text-align: center;
}

.navbar {
	background-color: #27374D;
	padding: 10px;
}

.page-content {
	padding: 10px;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style-type: none;
}

a:link {
	color: #526D82;
}

a:visited {
	color: #526D82;
}

a:hover {
	color: #27374D;
}

a:active {
	color: #27374D;
}

ul.navbar-buttons {
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.navbar-buttons li {
	display: inline-block;
	margin-left: 1px;
}

.navbar-buttons .button {
	color: #DDE6ED;
}

.button {
	background-color: #526D82;
	color: #DDE6ED;
	text-decoration: none;
	padding: 5px;
}

.button:hover {
	color: #27374D;
	cursor: pointer;
}

.edit-mode-button {
	background: none;
	color: #526D82;
	display: inline;
	border: none;
	cursor: pointer;

	/* Makes it so only the icon is clickable */
	margin-top: 20px;
	width: 0px;
	height: 0px;
}

.edit-mode-button:hover {
	color: #27374D;
}

.remove-button {
	background: none;
	color: #526D82;
	display: inline;
	border: none;
	cursor: pointer;

	/* Makes it so only the icon is clickable */
	margin-top: 20px;
	width: 0px;
	height: 0px;
}

.remove-button:hover {
	color: #27374D;
}

.selected-tasklist-info {
	color: #526D82;
	width: fit-content;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

ul.tasks-and-tasklists {
}

.tasks-and-tasklists li {
	font-size: 1.1em;
	margin-top: 20px;
	margin-left: 5px;
}

#tasklists-ul li:hover {
	cursor: pointer;
	color: #526D82;
}

.tasks-and-tasklists input[type=submit] {
	background: none;
	color: #27374D;
	font-size: 1em;
	font-family: inherit;
	text-decoration: none;
	cursor: pointer;
	border: none;
	padding: 0px;
}

.tasks-and-tasklists input[type=submit]:hover {
	color: #526D82;
}

.task {
}

.task-done {
	text-decoration: line-through;
}

ul.authentication-form {
}

.authentication-form li {
	margin-top: 5px;
}

ul.generic-form {
}

.generic-form li {
	margin-top: 5px;
}

input[type=submit] {
	font-size: 1.1em;
	border-style: none;
	margin-top: 5px;
}

form {
	display: inline-block;
}

.footer {
	background-color: #DDE6ED;
	color: #526D82;
	position: fixed;
	bottom: 0px;
	padding-left: 10px;
}
