/* TODO - CSS */

body {	
	margin: 0px;
	font-family: sans-serif;
	background-color: #FBF9F1;
}

.grid-container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 150px auto;
	min-height: 100vh;
}

#app_title_navbar {
	margin-top: 18px;
	margin-bottom: 5px;
	color: #FBF9F1;
	margin-left: 10px;
}

.navbar {
	padding: 10px;
	background: #92C7CF;
}

.page-content {
	padding: 10px;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style-type: none;
}

ul.navbar-buttons {
	margin-top: 15px;	
}

.navbar-buttons li {
	display: inline-block;
	margin-left: 1px;
}

.navbar-buttons a {
	padding: 5px;
	background-color: #AAD7D9;
	color: #FBF9F1;
	text-decoration: none;
}

.selected-tasklist-info {
	width: fit-content;
	background-color: #92C7CF;
	color: #FBF9F1;
	padding: 5px;
}


ul.tasks-and-tasklists {
	color: #92C7CF;
}

.tasks-and-tasklists li {
	list-style-type: disclosure-closed;
	margin-top: 20px;
	margin-left: 5px;
	font-size: 1.1em;
}

.tasks-and-tasklists input[type=submit] {
	background: none;
	padding: 0px;
	border: none;
	color: #92C7CF;
	text-decoration: none;
	cursor: pointer;
	font-size: 1em;
	font-family: inherit;	
}

.task {

}

.task-done {
	text-decoration: line-through;
}

ul.authentication-form {
	color: #92C7CF;
}

.authentication-form li {
	margin-top: 5px;
}

ul.generic-form {
	color: #92C7CF;
}

.generic-form li {
	margin-top: 5px;
}

input[type=submit] {
	margin-top: 5px;
	padding: 5px;
	color: #FBF9F1;
	font-size: 1.2em;
	background-color: #AAD7D9;
	border-style: none;
}

.footer {
	color: #92C7CF;
	position: absolute;
	bottom: 0px;
}
