{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'todo_app/styles.css' %}">
        <title>Todo-app - TODO</title>
</head>
<body>
<div class="grid-container">
        <div class="navbar">
                <h1 id="app_title_navbar">Todo app</h1>
                <ul class="navbar-buttons">
                        <li>TODO - Button 1</li>
                        <li>TODO - Button 2</li>
                </ul>
        </div>
        <div class="page-content">
		{% block page-content %}
                <p> TODO - Show task list </p>
		{% endblock %}
        </div>

</body>
</html>

