{% extends "todo_app/layout.html" %}
{% load static %}
{% block page-content %}

<form action="{% url 'todo_app:tasklists_page' %}" id="order-by-form" method="get">
	<label for="order_by">order by:</label>
	<!-- Below hidden input is used to temporarily store info from the backend session for it to be used with JS -->
	<input type="hidden" id="order-by-selection-temp" value="{{ tasklists_order_by }}">
	<select name="order_by" id="order-by-selection">
		<option value="name">name a-z</option>
		<option value="name_rev">name z-a</option>
		<option value="date">date</option>
		<option value="date_rev">date reversed</option>
	</select>
</form>

<ul class="tasks-and-tasklists" id="tasklists-ul">
</ul>

<script>const csrftoken = "{{ csrf_token }}"</script>
<script src="{% static 'todo_app/order_by.js' %}"></script>
<script src="{% static 'todo_app/tasklists.js' %}"></script>

{% endblock %}

