{% extends "todo_app/layout.html" %}
{% load static %}
{% block page-content %}

<form action="{% url 'todo_app:tasks_page' %}" id="order-by-form" method="get">
	<label for="order_by">order by:</label>
	<!-- Below hidden input is used to temporarily store the selected ordering for use with JS -->
	<input type="hidden" id="order-by-selection-temp" value="{{ tasks_order_by }}">
	<select name="order_by" id="order-by-selection" value="">
		<option value="name">name a-z</option>
		<option value="name_rev">name z-a</option>
		<option value="id">old to new</option>
		<option value="id_rev">new to old</option>
	</select>
</form>

<ul class="tasks-and-tasklists" id="tasks-ul">
</ul>

{% if selected_tasklist.tasks.exists %}
	<form method="GET">
		<input type="hidden" name="edit_mode" value="on">
		<button type="submit" class="edit-mode-button"><i class="fa-regular fa-pen-to-square fa-xl"></i></input>
	</form>
{% else %}
	<p> No tasks. Add one using "New task" button. </p>
{% endif %}
<script>const csrftoken = "{{ csrf_token }}"</script>
<script src="{% static 'todo_app/order_by.js' %}"></script>
<script src="{% static 'todo_app/get_tasks.js' %}"></script>
{% endblock %}