{% extends "todo_app/layout.html" %}

{% block navbar-buttons %}

<li>TODO - Button 1</li>
<li>TODO - Button 2</li>

{% endblock %}


{% block page-content %}

<ul class="tasks-and-tasklists">
{% for task in tasks %}
        <li>
        <form action="{% url 'todo_app:tasks' %}" method="POST">
                {% csrf_token %}
		<!-- TODO: Implement submiting form on checkbox change and send the value to the view -->
                <input type="checkbox">{{ task.name }}</input>
        </form>
        </li>
{% endfor %}
</ul>

{% endblock %}

