{% extends "todo_app/layout.html" %}
{% block page-content %}

<ul class="tasks-and-tasklists">
{% for tasklist in tasklists %}
	<li>
	<form action="{% url 'todo_app:tasklists' %}" id="tasklists_form" method="POST">
		{% csrf_token %}
		<input type="hidden" name="selected_tasklist_id" value="{{ tasklist.id }}">
		<input type="submit" value="{{ tasklist.name }}">
	</form>
	</li>
{% endfor %}
</ul>

{% if selected_tasklist %}
	<form method="GET">
		<input type="hidden" name="edit_mode" value="on">
		<button type="submit" class="edit-mode-button"><i class="fa-regular fa-pen-to-square fa-xl"></i></input>
	</form>
{% endif %}

{% endblock %}

