{% extends "todo_app/layout.html" %}

{% block navbar-buttons %}

<li><a href="{% url 'todo_app:tasklists_new' %}">New tasklist</a></li>
<li><a href="{% url 'todo_app:tasks' %}">Tasks</a></li>

{% endblock %}


{% block page-content %}

<ul class="tasks-and-tasklists">
{% for tasklist in tasklists %}
	<li>
	<form action="{% url 'todo_app:tasklists' %}" id="tasklists_form" method="POST">
		{% csrf_token %}
		<input type="hidden" name="selected_tasklist_id" value="{{ tasklist.id }}">
		<input type="submit" value="{{ tasklist.name }}">
	</form>
	</li>
{% endfor %}
</ul>

{% endblock %}

